<h1>モデル作成</h1>


<% if @models.length != 0 || !@gemfile.devise %><%# 登録モデルが0ではない＝deviseのモデルは作成されているとき %>

  <p>現在登録されているモデル</p>
  <% @models.each do |model| %>
    <%= model.name %><br>
  <% end %><br>
  <p>
    モデルの名前と、モデルのタイプを設定し作成します。<br>
    参照される事になる親モデルやActiveHashを優先すると、カラムの設定がスムーズになります。
  </p>

  <%# 通常モデル保存用フォーム %>
  <%= form_with model: @model, url: application_models_path ,local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, placeholder: 'itemなど単数形' %>
    </div>

     <div class="field">
      <p>作成するモデルの種類を選択してください</p>
      <p><%= f.radio_button :model_type_id, 1, checked: true %>一般的なモデルの登録</p>  
      <% if @gemfile.active_hash %>
        <p><%= f.radio_button :model_type_id, 2 %>ActiveHashの登録</p>
      <% end %>
    </div>

    <div class="field">
      <%= f.check_box :not_only ,{}, false, true %>
      <%= f.label :not_only, '親モデルに対して一対一の関係である has_one' %><br>
      親モデルに対して一対多、または親モデルが存在しない場合はチェックを外したまま登録してください
    </div>

    <div class="actions">
      <%= f.submit "カラム登録へ" %>
    </div>
  <% end %>


<% elsif @gemfile.devise %><%# Deviseによるユーザー登録に関する %>
  <%= form_with model: @model, url: application_models_path ,local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    まずはDevaiseのユーザー機能に関するモデルを作成します。<br>
    ユーザーに関するモデル名を設定してください。<br>
    <br>
    <div class="field">
        <%= f.label :name, 'モデル名' %>
        <%= f.text_field :name, autofocus: true, placeholder: 'userなど' %>
        <%= f.hidden_field :model_type_id, value: 5 %>
        <%= f.hidden_field :not_only, value: true %>
    </div>
    <br>
    
    <div class="actions">
      <%= f.submit "登録" %>
    </div>
  <% end %>
<% end %>

<% if @models.length == 0 %>
  <p>
    このあと、モデルごとに作成するカラムと、そのオプションを登録していきます。 <br>
    Deviseに関するモデルのため、emailカラムとpasswordカラムは自動で作成されています。<br>
    それ以外に必要なカラムを登録してください。
    <br>
    モデル作成 -> カラムの作成 -> オプション設定 の順に行います。
  </p>
<% end %>
<br>
<%= link_to 'モデル一覧へ', application_models_path %><br>
<%= link_to 'アプリケーション一覧へ戻る', root_path %>