<h1>モデル作成</h1>

<%= form_with model: @model, url: application_models_path ,local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
      <%= f.collection_select(:model_type_id, ModelType.all, :id, :name, {}, {class:"model-type-select"}) %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<%= link_to 'アプリケーション一覧へ戻る', root_path %>