<% contents = make_model_array(@model, @gemfile) if [1, 3, 4, 5].include?(@model.model_type_id) %>
<%# マイグレーションファイルに関する記載 %>
<%# マイグレーションファイルが必要な場合にのみ記載 %>
<% if @model.model_type.name == '通常モデル' || @model.model_type.name == '中間テーブル' %>
  <h2><%= @model.name.tableize %>テーブルのマイグレーションファイルの編集</h2>

  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：関連ファイルの作成
      </div>
    </div>
    <div class="terminal-contents">
      rails g model <%= @model.name %>
    </div>
  </div>

  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：対象ファイルへジャンプ
      </div>
    </div>
    <div class="terminal-contents">
      create db/migrate/20XXXX...._create_<%= @model.name %>.rb<br>
      上記ファイル -> command + クリック
    </div>
  </div>

  <div class="code-field">
    <div class="code-tab">
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "16x16", alt: "Ruby" %>
      <%= "20XXXX...._create_#{@model.name.tableize}.rb" %>
      <%= image_tag "cross_icon.png", class: "code-icon", size: "16x16", alt: "Ruby" %>
    </div>
    <div class="code-route">
      db > migrate > 
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "12x12", alt: "Ruby" %>
      <%= "20XXXX...._create_#{@model.name.tableize}.rb" %>
    </div>
    <div class="code-contents">
      class Create<%= @model.name.pluralize.camelize %> < ActiveRecord::Migration[6.0]<br>
      <%= insert_space(2) %>def change<br>
      <%= insert_space(4) %>create_table :<%= @model.name.tableize %> do |t|<br>
      <%# ヘルパーメソッドより作成 %>
      <%== make_migration_appending(@model) %>
      <%= insert_space(6) %>t.timestamps<br>
      <%= insert_space(4) %>end<br>
      <%= insert_space(2) %>end<br>
      end<br>
    </div>
  </div>

  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：マイグレーションの実行
      </div>
    </div>
    <div class="terminal-contents">
      rails db:migrate
    </div>
  </div>

<% elsif @model.model_type.name == 'devise' %>
  <h2><%= @model.name.tableize %>テーブルのマイグレーションファイルの編集</h2>
  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：関連ファイルの作成
      </div>
    </div>
    <div class="terminal-contents">
      rails g devise <%= @model.name %>
    </div>
  </div>
  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：対象ファイルへジャンプ
      </div>
    </div>
    <div class="terminal-contents">
      reate db/migrate/20XXXX...._devise_create_<%= @model.name.tableize %>.rb<br>
      上記ファイル -> command + クリック
    </div>
  </div>

  <div class="code-field">
    <div class="code-tab">
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "16x16", alt: "Ruby" %>
      <%= "20XXXX...._create_#{@model.name.tableize}.rb" %>
      <%= image_tag "cross_icon.png", class: "code-icon", size: "16x16", alt: "Ruby" %>
    </div>
    <div class="code-route">
      db > migrate > 
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "12x12", alt: "Ruby" %>
      <%= "20XXXX...._create_#{@model.name.tableize}.rb" %>
    </div>
    <div class="code-contents">
      <%# ヘルパーメソッドより作成 %>
      <%== make_migration_appending(@model) %>
      <%== insert_space(6) %>上記を必要な箇所に挿入
    </div>
  </div>

  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：マイグレーションの実行
      </div>
    </div>
    <div class="terminal-contents">
      rails db:migrate
    </div>
  </div>
<% end %>

<%# モデルファイルに関する記載 %>
<% if ['通常モデル', '中間テーブル', 'devise'].include?(@model.model_type.name) %>
  <h2><%= @model.name.classify %>モデルのモデルファイルの編集</h2>

  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：対象ファイルへジャンプ
      </div>
    </div>
    <div class="terminal-contents">
      code app/models/<%= @model.name %>.rb
    </div>
  </div>

  <div class="code-field">
    <div class="code-tab">
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "16x16", alt: "Ruby" %>
      <%= "#{@model.name}.rb" %>
      <%= image_tag "cross_icon.png", class: "code-icon", size: "16x16", alt: "Ruby" %>
    </div>
    <div class="code-route">
      app > models > 
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "12x12", alt: "Ruby" %>
      <%= "#{@model.name}.rb" %>
    </div>
    <div class="code-contents">
      class <%= @model.name.classify %> < ApplicationRecord<br>
      
      <%# Deviseのみ対象の専用記述 %>
      <% if @model.model_type_id == 5 %>
        <%= insert_space(2) %># Include default devise modules. Others available are:<br>
        <%= insert_space(2) %># :confirmable, :lockable, :timeoutable, :trackable and :omniauthable<br>
        <%= insert_space(2) %>devise :database_authenticatable, :registerable,<br>
        <%= insert_space(9) %>:recoverable, :rememberable, :validatable<br>
        <br>
        <%= insert_space(2) %><span class="comment-out"># パスワードを英数字混合に制限します。不要であれば削除してください。</span><br>
        <%= insert_space(2) %>PASSWORD_REGEX = /\A(?=.*?[a-z])(?=.*?\d)[a-z\d]+\z/i.freeze<br>
        <%= insert_space(2) %>validates_format_of :password, with: PASSWORD_REGEX, message: 
        <%= "'は英字と数字の両方を含む必要があります'" if @gemfile.rails_i18n %>
        <%= "'should contain both letters and numbers.'" unless @gemfile.rails_i18n %>
        <br><br>
      <% end %>
      <%#/ Deviseのみ対象の専用記述 %>

      <%# ヘルパーメソッドによりバリデーションに関するHTMLを作成 %>
      <%== make_validation(contents, @gemfile.rails_i18n) %>

      <%# ヘルパーメソッドによりアソシエーションに関するHTMLを作成 %>
      <%== make_association(contents, @model, @model.attached_image) %>

      end<br>
    </div><%#/ code-field モデルファイルの記載の終了 %>
  </div>

<% elsif @model.model_type.name == 'Formオブジェクト' %>
  <h2><%= @model.name.classify %>モデルのモデルファイルの編集</h2>

  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：関連ファイルの作成
      </div>
    </div>
    <div class="terminal-contents">
      touch app/models/<%= @model.name %>.rb<br>
    </div>
  </div>
  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：対象ファイルへジャンプ
      </div>
    </div>
    <div class="terminal-contents">
      code app/models/<%= @model.name %>.rb<br>
    </div>
  </div>

  <div class="code-field">
    <div class="code-tab">
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "16x16", alt: "Ruby" %>
      <%= "#{@model.name}.rb" %>
      <%= image_tag "cross_icon.png", class: "code-icon", size: "16x16", alt: "Ruby" %>
    </div>
    <div class="code-route">
      app > models > 
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "12x12", alt: "Ruby" %>
      <%= "#{@model.name}.rb" %>
    </div>
    <div class="code-contents">
      class Create<%= @model.name.pluralize.camelize %> < ActiveRecord::Migration[6.0]<br>
      
      class <%= @model.name.classify %><br>
      <%== insert_space(2) %>include ActiveModel::Model<br>
      <%== contents[:attr_accessor] %>
      <%== make_validation(contents, @gemfile.rails_i18n) %>
      <%== contents[:save] %>
      end<br>
    </div>
  </div>
<% end %>
<div>
  <%= link_to '編集はこちらから、モデル一覧へ', application_models_path %>
</div>
<%# RSpecに関する記載 %>
<% if @model.model_type.name != 'ActiveHash' && @gemfile.rspec %>
  <h2><%= @model.name.classify %>モデルのRSpecの編集</h2>
  <% if @model.model_type.name != 'Formオブジェクト' %>
    <p>
    RSpecを途中から導入した場合、下記の作成から作業が必要となります。<br>
    事前準備で導入していた場合、対象ファイルはすでに作成されています。
    </p>
  <% end %>

  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：関連ファイルの作成
      </div>
    </div>
    <div class="terminal-contents">
      rails g rspec:model <%= @model.name %>
    </div>
  </div>
  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：対象ファイルへジャンプ
      </div>
    </div>
    <div class="terminal-contents">
      code spec/models/<%= @model.name %>_spec.rb
    </div>
  </div>

  <div class="code-field">
    <div class="code-tab">
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "16x16", alt: "Ruby" %>
      <%= "#{@model.name}_spec.rb" %>
      <%= image_tag "cross_icon.png", class: "code-icon", size: "16x16", alt: "Ruby" %>
    </div>
    <div class="code-route">
      spec > models > 
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "12x12", alt: "Ruby" %>
      <%= "#{@model.name}_spec.rb" %>
    </div>
    <div class="code-contents">
      require 'rails_helper'<br>
      <br>
      RSpec.describe <%= @model.name.classify %>, type: :model do<br>
      <%== insert_space(2) %>before do<br>
      <%# Formオブジェクト専用の処理。関連モデルのFactoryBot.createを重複せずに表示する。 %>
      <%== add_bot(contents) if @model.model_type.name == 'Formオブジェクト' %>

      <%== insert_space(4) %>@<%= @model.name %> = FactoryBot.build(:<%= @model.name %>)<br>
      <%== insert_space(4) %>sleep 0.1 # エラーを防ぐために休止時間を入れています。不要なら削除してください。<br>
      <%== insert_space(2) %>end<br>
      <br>
      <%# テストコードの記載 %>
      <%== insert_space(2) %>describe '<%= @model.name.classify %>モデルの登録機能' do<br>
      <%# 正常系の記載 %>
      <%== insert_space(4) %>context '入力内容が適切であれば登録できる' do<br>
      <%== insert_space(6) %>it '入力内容が全て適切であれば登録できる' do<br>
      <%== insert_space(8) %>expect(@<%= @model.name %>).to be_valid<br>
      <%== insert_space(6) %>end<br>
      
      <%# ヘルパーメソッドにより正常系のテスト内容を記載 %>
      <%== make_normal_example(contents, @model) %>
      
      <% if @model.model_type_id == 5 %>
        <%== insert_space(6) %>it 'passwordが英数字混合の6文字であれば登録できる' do<br>
        <%== insert_space(8) %>@<%= @model.name %>.password = 'a12345'<br>
        <%== insert_space(8) %>@<%= @model.name %>.password_confirmation = @<%= @model.name %>.password<br>
        <%== insert_space(8) %>expect(@<%= @model.name %>).to be_valid<br>
        <%== insert_space(6) %>end<br>
      <% end %>
      <%== insert_space(4) %>end<br>
      <%# 正常系の記載終了 %>
      <br>
      <%# 異常系の記載 %>
      <%== insert_space(4) %>context '不適切な内容があり登録できない' do<br>

      <%# ヘルパーメソッドにより異常系のテスト内容を記載 %>
      <%== make_abnormal_example(contents, @model, @gemfile.rails_i18n) %>

      <% if @model.model_type_id == 5 %><%# エラー文：日本語 未完成につき注意 %>
        <%== insert_space(6) %>it 'emailが空欄だと登録できない' do<br>
        <%== insert_space(8) %>@<%= @model.name %>.email = ''<br>
        <%== insert_space(8) %>@<%= @model.name %>.valid?<br>
        <%== insert_space(8) %>expect(@<%= @model.name %>.errors.full_messages).to
        <% if @gemfile.rails_i18n %>
          include('Eメールを入力してください')
        <% else %>
          include('Email can't be blank')
        <% end %><br>
        <%== insert_space(6) %>end<br>
        <%== insert_space(6) %>it 'emailに@が含まれていない場合、登録できない' do<br>
        <%== insert_space(8) %>@<%= @model.name %>.email = 'abcdefgh'<br>
        <%== insert_space(8) %>@<%= @model.name %>.valid?<br>
        <%== insert_space(8) %>expect(@<%= @model.name %>.errors.full_messages).to
        <% if @gemfile.rails_i18n %>
          include('Eメールは不正な値です')
        <% else %>
          include('Email is invalid')
        <% end %><br>
        <%== insert_space(6) %>end<br>
        <%== insert_space(6) %>it 'emailの重複があり登録できない' do<br>
        <%== insert_space(8) %>@<%= @model.name %>.save<br>
        <%== insert_space(8) %>another_<%= @model.name %> = FactoryBot.build(:<%= @model.name %>, email: @<%= @model.name %>.email)<br>
        <%== insert_space(8) %>another_<%= @model.name %>.valid?<br>
        <%== insert_space(8) %>expect(another_<%= @model.name %>.errors.full_messages).to
        <% if @gemfile.rails_i18n %>
          include('Eメールはすでに存在します')
        <% else %>
          include('Email has already been taken')
        <% end %><br>
        <%== insert_space(6) %>end<br>
        <%== insert_space(6) %>it 'passwordが空欄だと登録できない' do<br>
        <%== insert_space(8) %>@<%= @model.name %>.password = ''<br>
        <%== insert_space(8) %>@<%= @model.name %>.valid?<br>
        <%== insert_space(8) %>expect(@<%= @model.name %>.errors.full_messages).to
        <% if @gemfile.rails_i18n %>
          include("パスワードを入力してください")
        <% else %>
          include("password can't be blank")
        <% end %><br>
        <%== insert_space(6) %>end<br>
        <%== insert_space(6) %>it 'passwordとpassword_confirmationが不一致では登録できない' do<br>
        <%== insert_space(8) %>@<%= @model.name %>.password = 'abcdef'<br>
        <%== insert_space(8) %>@<%= @model.name %>.password_confirmation = 'ghijkl'<br>
        <%== insert_space(8) %>@<%= @model.name %>.valid?<br>
        <%== insert_space(8) %>expect(@<%= @model.name %>.errors.full_messages).to
        <% if @gemfile.rails_i18n %>
          include('パスワード（確認用）とパスワードの入力が一致しません')
        <% else %>
          include("Password confirmation doesn't match password")
        <% end %><br>
        <%== insert_space(6) %>end<br>
        <%== insert_space(6) %>it '5文字以下の場合、登録できない' do<br>
        <%== insert_space(8) %>@<%= @model.name %>.password = '1abcd'<br>
        <%== insert_space(8) %>@<%= @model.name %>.password_confirmation = @<%= @model.name %>.password<br>
        <%== insert_space(8) %>@<%= @model.name %>.valid?<br>
        <%== insert_space(8) %>expect(@<%= @model.name %>.errors.full_messages).to
        <% if @gemfile.rails_i18n %>
          include('パスワードは6文字以上で入力してください')
        <% else %>
          include('password is too short (minimum is 6 characters)')
        <% end %><br>
        <%== insert_space(6) %>end<br>
        <%== insert_space(6) %>it '全角文字では登録できない' do<br>
        <%== insert_space(8) %>@<%= @model.name %>.password = 'ひらがなカタカナ漢字'<br>
        <%== insert_space(8) %>@<%= @model.name %>.password_confirmation = @<%= @model.name %>.password<br>
        <%== insert_space(8) %>@<%= @model.name %>.valid?<br>
        <%== insert_space(8) %>expect(@<%= @model.name %>.errors.full_messages).to
        <% if @gemfile.rails_i18n %>
          include('パスワードは英字と数字の両方を含む必要があります')
        <% else %>
          include('password is invalid. Include both letters and numbers')
        <% end %><br>
        <%== insert_space(6) %>end<br>
      <% end %>
      <%# 異常系の記載終了 %>
      <%== insert_space(4) %>end<br>
      <%== insert_space(2) %>end<br>
      end
    </div>
  </div>

  <%# FactoryBotに関するコード %>
  <h2><%= @model.name.classify %>モデルのFactoryBotの編集</h2>
  
  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：対象ファイルへジャンプ
      </div>
    </div>
    <div class="terminal-contents">
      code spec/factories/<%= @model.name.tableize %>.rb
    </div>
  </div>

  <div class="code-field">
    <div class="code-tab">
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "16x16", alt: "Ruby" %>
      <%= "#{@model.name.tableize}_spec.rb" %>
      <%= image_tag "cross_icon.png", class: "code-icon", size: "16x16", alt: "Ruby" %>
    </div>
    <div class="code-route">
      spec > models > 
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "12x12", alt: "Ruby" %>
      <%= "#{@model.name.tableize}_spec.rb" %>
    </div>
    <div class="code-contents">
      FactoryBot.define do<br>
      <%== insert_space(2) %>factory :<%= @model.name %> do<br>
      
      <%# ヘルパーメソッドを使用し、FactoryBotのカラムに関するHTMLを作成する %>
      <%== make_factorybot_html(contents) %>
      
      <% if @model.model_type_id == 5 %>
        <%== insert_space(4) %>email { Faker::Internet.free_email }<br>
        <%== insert_space(4) %>password { Faker::Internet.password(min_length: 6) }<br>
        <%== insert_space(4) %>password_confirmation { password }<br>
      <% end %>

      <%# ヘルパーメソッドを使用し、FactoryBotのアソシエーションに関するHTMLを作成する %>
      <%== make_association_html(contents) %>

      <% if @model.attached_image %><%# 画像を紐づける設定の場合 %>
        <br>
        <%== insert_space(4) %>after(:build) do |target|<br>
        <%== insert_space(6) %>target.image.attach(io: File.open('public/images/test_image.png'), filename: 'test_image.png')
        <%== insert_space(4) %>end<br>
        # public/imagesのディレクトリを作成し、test_image.pngと名付けた画像ファイルを用意してください。
      <% end %>
      <%== insert_space(2) %>end<br>
      end<br>
    </div>
  </div><%# code-field %>
    
  <%= render partial: "models/factorybot_sample" %>
    
  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：テストコードの実行
      </div>
    </div>
    <div class="terminal-contents">
      bundle exec rspec spec/models/<%= @model.name %>_spec.rb
    </div>
  </div>
<% end %>

<%# ActiveHashに関するコード表示 %>
<% if @model.model_type.name == 'ActiveHash' %>
  <h1>ActiveHash:<%= @model.name %>の作成</h1>
  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：対象ファイルの作成
      </div>
    </div>
    <div class="terminal-contents">
      touch app/models/<%= @model.name %>.rb
    </div>
  </div>  
  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：対象ファイルへジャンプ
      </div>
    </div>
    <div class="terminal-contents">
      code app/models/<%= @model.name %>.rb
    </div>
  </div>  

  <div class="code-field">
    <div class="code-tab">
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "16x16", alt: "Ruby" %>
      <%= "#{@model.name}.rb" %>
      <%= image_tag "cross_icon.png", class: "code-icon", size: "16x16", alt: "Ruby" %>
    </div>
    <div class="code-route">
      app > models > 
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "12x12", alt: "Ruby" %>
      <%= "#{@model.name}.rb" %>
    </div>
    <div class="code-contents">
      <%== "class #{@model.name.classify} < ActiveHash::Base<br>" %>
      <%== "#{insert_space(2)}self.data = [<br>" %>
      <%== make_activehash_code(@model) %>
      <%== "#{insert_space(2)}include ActiveHash::Associations<br>" %>
      <%== make_activehash_has(@columns, @model.name) %>
      end<br>
    </div>
  </div>
  <p>上記の'内容'及び'最後'の部分を編集してください。</p>
<% end %>

<%# Rubocopの実行に関する記述 %>
<% if @gemfile.rubocop %>
  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：Rubocopの実行
      </div>
    </div>
    <div class="terminal-contents">
      bundle exec rubocop -a
    </div>
  </div>  
<% end %>

<%= render partial: "shared/link_index" %>