<%= form_with(model: [@application, @app_controller], local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  
  <div class="field">
    <%= f.label :name, 'コントローラー名' %>
    <%= f.collection_select(:name, @models, :name, :name) %>
  </div>
  <p>
    ルーティングのネスト構造で、親の関係になるコントローラーを選択してください。<br>
    親のコントローラーが存在しない場合、未選択のまま進めてください。
  </p>
  <div class="field">
    <%= f.label :parent, '親コントローラー名' %>
    <%= f.collection_select(:parent, @app_controllers, :name, :name, include_blank: true) %>
  </div>  
  <br>
  <div class="field">
    <div class="info">
      それぞれのアクションを使用するのか、またログインユーザーに限定するのかを選択してください
    </div>
    <div class="actions_select">
      <div class="index">
        <h5><%= f.label :index_select, 'index' %></h5>
        <%= f.radio_button :index_select, 0 %>アクションなし<br>
        <%= f.radio_button :index_select, 1, checked: true %>アクションあり<br>
        <%= f.radio_button :index_select, 2 %>ログインユーザーのみ<br>
      </div>
      <div class="new">
        <h5><%= f.label :new_select, 'new' %></h5>
        <%= f.radio_button :new_select, 0 %>アクションなし<br>
        <%= f.radio_button :new_select, 1, checked: true %>アクションあり<br>
        <%= f.radio_button :new_select, 2 %>ログインユーザーのみ<br>
      </div>
      <div class="create">
        <h5><%= f.label :create_select, 'create' %></h5>
        <%= f.radio_button :create_select, 0 %>アクションなし<br>
        <%= f.radio_button :create_select, 1, checked: true %>アクションあり<br>
        <%= f.radio_button :create_select, 2 %>ログインユーザーのみ<br>
      </div>
      <div class="edit">
        <h5><%= f.label :edit_select, 'edit' %></h5>
        <%= f.radio_button :edit_select, 0 %>アクションなし<br>
        <%= f.radio_button :edit_select, 1, checked: true %>アクションあり<br>
        <%= f.radio_button :edit_select, 2 %>ログインユーザーのみ<br>
      </div>
      <div class="update">
        <h5><%= f.label :update_select, 'update' %></h5>
        <%= f.radio_button :update_select, 0 %>アクションなし<br>
        <%= f.radio_button :update_select, 1, checked: true %>アクションあり<br>
        <%= f.radio_button :update_select, 2 %>ログインユーザーのみ<br>
      </div>
      <div class="destroy">
        <h5><%= f.label :destroy_select, 'destroy' %></h5>
        <%= f.radio_button :destroy_select, 0 %>アクションなし<br>
        <%= f.radio_button :destroy_select, 1, checked: true %>アクションあり<br>
        <%= f.radio_button :destroy_select, 2 %>ログインユーザーのみ<br>
      </div>
      <div class="show">
        <h5><%= f.label :show_select, 'show' %></h5>
        <%= f.radio_button :show_select, 0 %>アクションなし<br>
        <%= f.radio_button :show_select, 1, checked: true %>アクションあり<br>
        <%= f.radio_button :show_select, 2 %>ログインユーザーのみ<br>
      </div>
    </div>
  <br>
  <div class="actions">
    <%= f.submit "各アクションの設定へ" %>
  </div>
<% end %>