<h2><%= @app_controller.name.tableize %>コントローラーの作成と編集</h2>

<p><%= @app_controller.name.tableize %>コントローラーを作成します。</p>

<h2><%= @app_controller.name.tableize %>コントローラー関連ファイルの作成</h2>

<div class="terminal-field">
  <p>ターミナル：関連ファイルの作成</p>
  <p>rails g controller <%= @app_controller.name.tableize %></p>
</div>
<div class="terminal-field">
  <p>ターミナル：対象ファイルへジャンプ</p>
  <p>app/controllers/<%= @app_controller.name.tableize %>_controller.rb -> command + クリック</p>
</div>

<h2><%= @app_controller.name.tableize %>コントローラーの編集</h2>

<%# 部分テンプレートを使用し、コントローラーのコードを表示します。また編集削除のリンクは表示されません。 %>
<%= render partial: "shared/controller", locals: {links: false} %>

<br>
<% if @gemfile.rubocop %>
  <div class="terminal-field">
    <p>ターミナル：Rubocopの実行</p>
    <p>bundle exec rubocop -a </p>
  </div>
<% end %>
<div>
<%= link_to 'コントローラー一覧へ', application_app_controllers_path %><br>
<%= link_to 'アプリケーション詳細へ戻る', application_path(params[:application_id]) %><br>
<%= link_to 'トップページへ戻る', root_path %>
</div>