<h2><%= @app_controller.name.tableize %>コントローラーの作成と編集</h2>

<div class="terminal-field">
  <div class="terminal-header">
    <div class="terminal-icons">
      <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
    </div>
    <div class="terminal-title">
      ターミナル：関連ファイルの作成
    </div>
  </div>
  <div class="terminal-contents">
    rails g controller <%= @app_controller.name.tableize %>
  </div>
</div>
<div class="terminal-field">
  <div class="terminal-header">
    <div class="terminal-icons">
      <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
    </div>
    <div class="terminal-title">
      ターミナル：対象ファイルへジャンプ
    </div>
  </div>
  <div class="terminal-contents">
    code app/controllers/<%= @app_controller.name.tableize %>_controller.rb<br>
  </div>
</div>

<h2><%= @app_controller.name.tableize %>コントローラーの編集</h2>

<%# 部分テンプレートを使用し、コントローラーのコードを表示します。また編集削除のリンクは表示されません。 %>
<%= render partial: "shared/controller", locals: {links: false} %>
<p>
  redirect_toの行き先はroot_pathになっています。<br>
  また自動生成されたメソッドなどに不要なものがあれば、削除をお願いします。
</p>

<% if @gemfile.rubocop %>
  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：Rubocopの実行
      </div>
    </div>
    <div class="terminal-contents">
      bundle exec rubocop -a
    </div>
  </div>
<% end %>

<%= render partial: "shared/link_index" %>