<h1>アプリケーション作成</h1>

<%= form_with model: @application, local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, autofocus: true %>
  </div>
  
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<%= link_to 'アプリケーション一覧へ戻る', root_path %>