<%= form_with(model: [@application, @app_controller, @app_action], local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  
  <div class="field">
    <%= f.label :action_select, 'アクションの選択' %>
    <%= f.select(:action_select, make_selects(@app_controller)) %>
  </div>

  <div class="field">
    <%= f.label :target, '対象のモデル名を選択' %>
    <%= f.collection_select(:target, @models, :name, :name) %>
  </div>

  <%= render partial: "code", collection: CodeType.all, locals: {f: f} %>

  <p>
  上記コード内の条件式を入力してください。<br>
  アソシエーションを使用する場合、A_model名を条件式1に、B_model名を条件式2に有力してください
  </p>
  <div class="field">
    <%= f.label :input1, '条件式1' %>
    <%= f.text_field :input1 %>
  </div>
  <div class="field">
    <%= f.label :input2, '条件式2' %>
    <%= f.text_field :input2 %>
  </div>
  <div class="field">
    <%= f.label :input3, '条件式3' %>
    <%= f.text_field :input3 %>
  </div>
  <div class="actions">
    <%= f.submit "アクションの登録" %>
  </div>
<% end %>
