<h1><%= @app_controller.name %>のアクション一覧</h1>
<p>
コントローラーのコードを表示します。<br>
一部アクションは初期設定として登録されています。必要に応じ編集または削除してください。<br>
</p>
<h5>自動で作成されるメソッドについての補足説明</h5>
<div>
  コントローラーの登録内容により、一部メソッドが初期から作成されることがあります。<br>
  
  以下は作成されるメソッドに関する説明です。
</div>
<br>
<div>
  <b>＜model_params＞</b><br>
  DBへの保存の際に必要なストロングパラメーターを取得するためのメソッドです。<br>
  ストロングパラメーターが必要なアクションが登録されると自動生成されます。<br>
  実際には、'model'部分が対象のモデル名へ差し替えられます。
</div><br>
<div>
  <b>＜get_common_variable1-3＞</b><br>
  複数のアクションで共通する内容をbefore_actionで取得するメソッドです。<br>
  対象モデルが異なる場合に備え、三種類まで登録することが可能です。<br>
  初期設定では全てのアクションを対象にbefore_actionがで既往されています。<br>
  アクション登録時に、対象アクションと当メソッド名を選ぶことで、onlyにより適応アクションを限定できます。<br>
</div><br>
<div>
  <b>＜model_form_variable＞</b><br>
  登録されたコントローラーのネスト構造から、フォームに必要なインスタンス変数を取得するメソッドです。<br>
  登録内容から自動で生成されますが、このメソッドに任意のアクションを登録することもできます。<br>
</div>
<br>
<%= link_to 'アクション新規作成へ',  new_application_app_controller_app_action_path %><br>
<br>

<h3><%= @app_controller.name %>コントローラーの内容</h3>
<%# 部分テンプレートを使用し、コントローラーのコードを表示します。また編集削除のリンクは表示されます。 %>
<%= render partial: "shared/controller", locals: {links: true} %>
<br>
<%= link_to 'アクション新規作成へ',  new_application_app_controller_app_action_path %><br>
<%= render partial: "shared/link_index" %>