<h1>新規オプション登録</h1>
<br>
<%= @column.name %>のオプション設定
<p>現在のオプション</p>
<p><%= 'presence: true' if @column.must_exist %></p>
<% if @options.length != 0 %>
  <% format_count = 0 %>
  <% numericality_count = 0 %>
  <% uniqueness_count = 0 %>
  <% @options.each do |option| %>
    <%= option.option_type.info %>
    <% format_count += 1 if option.option_type.type == 'format' %>
    <% numericality_count += 1 if option.option_type.type == 'numericality' %>
    <% uniqueness_count += 1 if option.option_type.type == 'uniqueness' %>
  <% end %>
<% else %>
  <p>追加オプションは設定されていません</p>
<% end %>
<br>

<%= link_to 'オプションを追加しない', new_application_model_column_path(params[:application_id], params[:model_id]) %>

<%# 対象カラムのデータ型がstringまたはtextの場合 %>
<%= form_with model: @option, url: application_model_column_options_path ,local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  <% if @column.data_type_id <= 2 && format_count == 0 %>
    <div class="field">
      <p>正規表現による制限(:format)</p>
        <%= f.radio_button :option_type_id, 11 %>
        <%= OptionType.find(11)[:info] %>
        <br>
        <%= f.radio_button :option_type_id, 12 %>
        <%= OptionType.find(12)[:info] %>
        <br>
        <%= f.radio_button :option_type_id, 13 %>
        <%= OptionType.find(13)[:info] %>
        <br>
        <%= f.radio_button :option_type_id, 14 %>
        <%= OptionType.find(14)[:info] %>
        <br>
    </div>



  <% elsif @column.data_type_id == 3 && numericality_count == 0 %>
    <div class="field">
      <p>数値に関する制限(:numericality)</p>
        <%= f.radio_button :option_type_id, 21 %>
        <%= OptionType.find(21)[:info] %>
        <br>
        <%= f.radio_button :option_type_id, 22 %>
        <%= OptionType.find(22)[:info] %>
        <br>
        <%= f.radio_button :option_type_id, 23 %>
        <%= OptionType.find(23)[:info] %>
        <br>
        <%= f.radio_button :option_type_id, 24 %>
        <%= OptionType.find(24)[:info] %>
        <br>
        <%= f.radio_button :option_type_id, 25 %>
        <%= OptionType.find(25)[:info] %>
        <br>
    </div>
  <% end %>

  <% if uniqueness_count == 0 %>
    <div class="field">
      <p>重複禁止に関する制限(:uniqueness)</p>
        <%= f.radio_button :option_type_id, 41 %>
        <%= OptionType.find(41)[:info] %>
        <br>
        <%= f.radio_button :option_type_id, 42 %>
        <%= OptionType.find(42)[:info] %>
        <br>
        <%= f.radio_button :option_type_id, 43 %>
        <%= OptionType.find(43)[:info] %>
        <br>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "追加" %>
  </div>
<% end %>

<%= link_to 'オプションを追加しない', new_application_model_column_path(params[:application_id], params[:model_id]) %>
<br>
<%= link_to 'アプリケーション一覧へ戻る', root_path %>