<% contents = option_contents_status(@options) %>
<h1>新規オプション登録</h1>
<br>
<%= @column.name %>のオプション設定
<p>現在のオプション</p>
<p><%= 'presence: true' if @column.must_exist %></p>
<% if @options.length != 0 %>
  <% @options.each do |option| %>
    <%= option.option_type.info %>
  <% end %>
<% else %>
  <p>追加オプションは設定されていません</p>
<% end %>
<br>
<br>
<p>
  以下から登録したカラムに追加したいオプションを選択してください。<br>
  エラーメッセージは自動で入力されます。
</p>
<%= link_to 'カラム新規作成へ戻る', new_application_model_column_path(params[:application_id], params[:model_id]) %>

<%= form_with model: @option, url: application_model_column_options_path ,local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  <div class="field">
    <%= render partial: "option_type", collection: OptionType.all, locals: {f: f, contents: contents} %>
  </div>

  <% if contents[:option_count] != 0 %>
    <p>選んだオプションに必要な情報があれば、下のフォームに入力してください。</p>
    <div class="field">
      <%= f.label :input1, '入力1' %>
      <%= f.text_field :input1, placeholder: '入力1' %><br>
      上限または重複禁止の範囲対象となるmodel_idを入力してください。
    </div>
    <br>
    <div class="field">
      <%= f.label :input2, '入力2' %>
      <%= f.text_field :input2, placeholder: '入力2' %><br>
      下限または重複禁止の範囲における追加対象となるmodel_idを入力してください。<br>
      三つ目以降の重複禁止対象はご自身での記載をお願いします。
    </div>
    <div class="actions">
      <%= f.submit "オプション追加" %>
    </div>
  <% else %><%# 追加できるオプションがないとき %>
    <p>追加できるオプションはありません。</p>
  <% end %>
<% end %>
<br>
<div>
  <h4><b>参考</b></h4>
  正規表現を作成、チェックをする場合は以下のリンクを参考にしてください<br>
  <%= link_to '正規表現チェッカー', 'https://weblabo.oscasierra.net/tools/regex/' %>
</div>
<br>
<%= link_to 'カラム新規作成へ戻る', new_application_model_column_path(params[:application_id], params[:model_id]) %><br>
<%= render partial: "shared/link_index" %>
