<% contents = make_controller_array(@app_actions) %>
<div class="code-field">
  class <%= @app_controller.name.pluralize.camelize %>Controller < ApplicationController<br>
  <%== before_action_authenticate_user(@app_controller) %>
  <%== make_before_action_model_form_variable(contents) %>
  <%== make_before_action_get_common_variable(contents) %>
    <br>

    <%# 基本の７つのアクションに関する記載を行う。 %>
    <% seven_actions = %w[index new create edit update destroy show] %>
    <% seven_actions.each do |action| %>
      <% if @app_controller["#{action}_select"] >= 2 %>
      
        <%== "#{insert_space(2)}def #{action}<br>"  %>
        <% contents[action.to_sym].each do |app_action| %>
          <% content = {first: '', before: '', main: '', after: ''} %>
          <% make_action_code_remake(app_action, links, content) %>

          <%== content[:first] %>
          <%== content[:before] %>
          <%== content[:main] %>
          <% if links %>
            <%= link_to '編集', edit_application_app_controller_app_action_path(id: app_action) %>
            <%= link_to '削除', application_app_controller_app_action_path(id: app_action), method: :delete %>
          <% end %>
          <br>
          <%# レイアウトを使用する場合、create/updateのためmodel_form_variableの内容に合わせて挿入が必要。 %>
          <% if [1, 2, 3, 4, 5, 6, 7, 8].include?(app_action.action_code_id) && !contents["#{app_action.target}_form_actions".to_sym].nil? %>
            <% if contents["#{app_action.target}_form_actions".to_sym].length == 1 %>
              <% contents[:model_form_variable] = '' %>
              <% make_model_form_variable(app_action.target, @app_controllers, contents, links) %>
              <%== contents[:model_form_variable] %>
            <% elsif [5, 6, 7, 8].include?(app_action.action_code_id) && contents["#{app_action.target}_form_actions".to_sym].length >= 2 %>
              <%== "#{insert_space(6)}#{app_action.target}_form_variable" %>
              <%== ' <- 自動生成' if links %>
              <%== '<br>' %>
            <% end %>
          <% end %>
          <%#/ レイアウトを使用する場合の挿入%>

          <%== content[:after] %>
        <% end %>
        <%== "#{insert_space(2)}end<br><br>"  %>
      <% end %>
    <% end %>

    <%== "#{insert_space(2)}private<br><br>" %>

    <%# model_params: ストロングパラメーター取得メソッド %>
    <%== make_strong_parameter(contents) %>
    
    <%# get_common_variable1-3: 各アクションの共通となるインスタンス変数を取得するメソッド %>
    <% common_actions = %w[get_common_variable1 get_common_variable2 get_common_variable3] %>
    <% common_actions.each do |action| %>
      <% unless contents[action.to_sym].nil? %>
        <%== "#{insert_space(2)}def #{action}<br>"  %>
        <% contents[action.to_sym].each do |app_action| %>
          <% content = {first: '', before: '', main: '', after: ''} %>
          <% make_action_code_remake(app_action, links, content) %>
          <%== content[:first] %>
          <%== content[:before] %>
          <%== content[:main] %>
          <% if links %>
            <%= link_to '編集', edit_application_app_controller_app_action_path(id: app_action) %>
            <%= link_to '削除', application_app_controller_app_action_path(id: app_action), method: :delete %>
          <% end %>
          <br>
          <%== content[:after] %>
        <% end %>
        <%== "#{insert_space(2)}end<br>" %>
        <% if links && !contents["#{action}_targets".to_sym].nil? %>
          <%== "#{insert_space(2)}＜#{action}を適応しているアクション＞<br>" %>
          <% contents["#{action}_targets".to_sym].each do |target| %>
            <%== "#{insert_space(4)}#{target.action_select}" %>
            <%= link_to '編集', edit_application_app_controller_app_action_path(id: target) %>
            <%= link_to '削除', application_app_controller_app_action_path(id: target), method: :delete %>
            <br>
          <% end %>
        <% end %><br>
      <% end %>
    <% end %>


    <%# model_form_variable: フォームのために必要なインスタンス変数を取得するメソッドを作成 %>
    <% contents[:params_targets].each do |target| %>
      <% next unless contents["#{target}_form_actions".to_sym].length >= 2 %>

      <% contents[:model_form_variable] = '' %>
      <% make_model_form_variable(target, @app_controllers, contents, links) %>
      
      <%== "#{insert_space(2)}def #{target}_form_variable<br>" %>
      <%== contents[:model_form_variable] %>
      <% unless contents["#{target}_form_variable".to_sym].nil? %>
        <% contents["#{target}_form_variable".to_sym].each do |app_action| %>
          <% content = {first: '', before: '', main: '', after: ''} %>
          <% make_action_code_remake(app_action, links, content) %>

          <%== content[:first] %>
          <%== content[:before] %>
          <%== content[:main] %>
          <% if links %>
            <%= link_to '編集', edit_application_app_controller_app_action_path(id: app_action) %>
            <%= link_to '削除', application_app_controller_app_action_path(id: app_action), method: :delete %>
            <br>
          <% end %>
        <% end %>
      <% end %>
      <%== "#{insert_space(2)}end<br><br>" %>
    <% end %>
    
  </div>
  end<br>
</div>
