
<div>
  class <%= @app_controller.name.pluralize.camelize %>Controller < ApplicationController<br>
    <%#== contents[:authenticate] %>
    <%#== contents[:before_find] %>
    <br>


    <% actions = %w[index new create edit update destroy show] %>
    <% actions.each do |action| %>
      <% if @app_controller["#{action}_select"] >= 2 %>
        <%== "#{insert_space(2)}def #{action}<br>" %>

        <% @app_actions.each do |app_action| %>
          <% next unless app_action.action_select == action %>

          <%# コントローラーの各アクションにおけるHTMLを作成するメソッド。HTMLはcontentに収容される。 %>
          <% content = {first: '', before: '', main: '', after: ''} %>
          <% make_action_code_remake(app_action, links, content) %>
       
          <%== content[:first] %>
          <%== content[:before] %>
          <%== content[:main] %>
          <% if links %>
            <%= link_to '編集', edit_application_app_controller_app_action_path(id: app_action) %>
            <%= link_to '削除', application_app_controller_app_action_path(id: app_action), method: :delete %>
            <br>
          <% end %>
          <%== content[:after] %>
        <% end %>
        <%== "#{insert_space(2)}end<br><br>"  %>
      <% end %>
    <% end %>
  </div>
  end<br>
</div>