<%= form_with(model: [application,  model], local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, placeholder: 'itemなど単数形' %>
    </div>

     <div class="field">
      <p>作成するモデルの種類を選択してください</p>
      <p><%= f.radio_button :model_type_id, 1, checked: true %>一般的なモデルの登録</p>  
      <% if application.gemfile.active_hash %>
        <p><%= f.radio_button :model_type_id, 2 %>ActiveHashの登録</p>
      <% end %>
    </div>

    <div class="field">
      <%= f.check_box :not_only ,{}, false, true %>
      <%= f.label :not_only, '親モデルに対して一対一の関係である has_one' %><br>
      親モデルに対して一対多、または親モデルが存在しない場合はチェックを外したまま登録してください
    </div>

    <div class="field">
      <%= f.check_box :attached_image ,{}, true, false %>
      <%= f.label :attached_image, '画像データを紐付ける対象となる' %><br>
      Imagemagickを使用し、当モデルに対して画像を紐づける場合はチェックを入れてください
    </div>

    <div class="actions">
      <%= f.submit "カラム登録へ" %>
    </div>
  <% end %>

<%# render partial: "shared/model_form", locals: {application: @application, model: @model} %>