<%= form_with(model: [application, model, column], local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  <div class="field">
    <%= f.label :nickname, 'カラム名' %>
    <%= f.text_field :name, autofocus: true, placeholder: 'nickname' %><br>
    保存するカラムの名前を設定します。
  </div>
  <br>
  <% if @application.gemfile.rails_i18n %>
    <div class="field">
      <%= f.label :name_ja, '日本語表記' %>
      <%= f.text_field :name_ja, placeholder: 'ニックネーム' %><br>
      エラー文を翻訳する際の表示を設定します。
    </div>
  <% end %>
  <br>
  <br>
  <div class="field">
    <div class="info">
      以下よりカラムのデータ型を選択してください
    </div>
    
    <%= render partial: "data_type", collection: DataType.all,  locals: {f: f} %>

  <div class="field">
    <%= f.check_box :must_exist ,{checked: true}, 1, 0 %>
    <%= f.label :must_exist, '空欄を禁止する。' %>
  </div>

  <div class="field">
    <%= f.check_box :unique ,{}, 1, 0 %>
    <%= f.label :unique, 'テーブル内での重複を禁止する' %>
  </div>

  <div class="actions">
    <%= f.submit "オプション設定へ" %>
  </div>
<% end %>