<% if [1, 5].include?(@model.model_type_id) %>
  <%= render partial: "shared/related_models", locals: {model: @model} %>
  <br>
  
  <h1>新規カラム登録</h1>
  <div>
    先程作成した上記モデルのカラムを作成していきます。<br>
    保存する際にnull: falseを適応する場合は、空欄禁止にチェックしてください。<br>
    同じテーブル内で重複を禁止する場合にチェックを入れてください<br>
    範囲を定めて重複を禁止する場合はオプション設定で設定します。<br>
  </div>

  <%= render partial: "normal_form", locals: {application: @application, model: @model, column: @column} %>
  <br>
  <div>
    他のモデル名を参照する場合はこちらから<br>
    こちらを登録するとアソシエーションが自動で組まれます。
    </div>
  <div class="models-index">
    ＜<%= @application.name %>のモデル一覧＞<br>
    <% @models.each do |model| %>
      <%= model.name %> <%= '<- ActiveHash' if model.model_type_id == 2 %><br>
    <% end %>
  </div>
  <br>

  <%# 他のモデル名を参照にするカラム %>
  <%= render partial: "references_form", locals: {application: @application, model: @model, column: @column} %>

<% elsif @model.model_type_id == 2 %><%# ActiveHashを登録する場合 %>
  <div>
    class = <%= @model.name.classify %> < ActiveHash::Base<br>
    <% insert_space(2) %>{ id = 0,
    <% @model.columns.each do |column| %>
      <%= column.name + ": '--', " %>
    <% end %><- この次を登録 }
    <p>ActiveHashで事前に用意したい要素名を入力してください。</p>
  </div>
  <%# ActiveHashの登録フォームを部分テンプレートを使用 %>
  <%= render partial: "activehash_form", locals: {application: @application, model: @model, column: @column} %>
  

<%# 中間テーブルの場合 %>
<% elsif @model.model_type_id == 3 %>
  <h2>中間テーブル：<%= @model.name %>の対象モデル設定</h2>
  <p>
    中間テーブルの対象となるモデルを選択してください。<br>
    カラムは自動でrefarences型に設定されます。
  </p>
  <%= render partial: "relation_form", locals: {application: @application, model: @model, column: @column} %>
  
<% else %><%# Formオブジェクトを作成する場合 %>
  <h2>Formオブジェクト：<%= @model.name %>の対象モデル設定</h2>
  <p>
    対象モデルを同時に登録するためのFormオブジェクトパターンを作成します。<br>
    対象にしたいモデルを選択してください。
  </p>
  <%= render partial: "formobject_form", locals: {application: @application, model: @model, column: @column} %>

<% end %>

<br>
<%= link_to 'モデル新規作成へ', new_application_model_path %><br>
<%= link_to 'モデル一覧へ', application_models_path %><br>
<%= link_to 'アプリケーション一覧へ戻る', root_path %>