
<%# READMEのDB設計に関するコード %>
<div class="read_me">
  <h1>事前準備2</h1>
  <h2><%= @application.name  %></h2>
  
  <%= link_to 'アプリケーション詳細ページへ戻る', application_path(@application) %><br><br>

  <h2><%= @application.name %> READMEの編集</h2>
  <div>
    念の為、ご自身でも記載内容を確認するようお願いします。<br>
    また、現在の仕様では枠がずれているように見えますが、<br>
    ペーストするとちょうど良い位置になるように調整されています。
  </div>
  <%# ターミナル操作 %>
  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：対象ファイルへのジャンプ
      </div>
    </div>
    <div class="terminal-contents">
      code README.md
    </div>
  </div>

  <%# コード表示%>
  <div class="code-field">
    <div class="code-tab">
      <%= image_tag "info_icon.png", class: "code-icon", size: "16x16", alt: "info_icon" %>
      README.md
      <%= image_tag "cross_icon.png", class: "code-icon", size: "16x16", alt: "close_icon" %>
    </div>
    <div class="code-route">
      <%= image_tag "info_icon.png", class: "code-icon", size: "16x16", alt: "close_icon" %>
      README.md
    </div>
    <div class="code-contents">
      # README<br>
      <br>
      # テーブル設計<br>
      <br>

      <%# モデルごとのテーブル表記。対象は通常モデルのみ %>
      <% @models.each do |model| %>
        <% if [1, 3, 5].include?(model.model_type_id) %>
          <%# 最も長いカラム名の文字数＝longestを決定する%>
          <% longest = the_longest(model) %>
          
          ## <%= model.name.pluralize %>テーブル<br>
          <br>
          <%# マークダウン方式の表のタイトルと間仕切りを作成 %>
          | column<%= insert_space(longest - 6) %> | Type<%= insert_space(6) %>  | Options<%= insert_space(18) %> |<br>
          | <%= insert_bar(longest) %> | ---------- | ------------------------- |<br>

          <%# 各カラムの名前とデータ型とオプションの項目 %>
          <% model.columns.each do |column| %>

            <%# カラムがActiveHash関連ならば_idを付属するよう場合分け %>
            <% if column.data_type_id != 13 %>
              | <%= column.name %><%= insert_space(longest - column.name.length) %> 
              | <%= column.data_type.type %><%= insert_space(column.data_type.space) %>
            <% else %>
              | <%= column.name %>_id<%= insert_space(longest - column.name.length - 3) %> 
              | integer<%= insert_space(3) %>
            <% end %> |
            
            <%# カラムのデータ型により、オプションを場合分け %>
            <% if column.data_type_id == 12 %>
              foreign_key: true <%= insert_space(7) %>
            <% elsif column.must_exist && column.unique %>
              null: false, unique: true
            <% elsif column.must_exist %>
              null: false <%= insert_space(13) %>
            <% elsif column.unique %>
              unique: true <%= insert_space(12) %>
            <% else %>
              <%= insert_space(25) %>
            <% end %> |<br>
          <% end %>

          <%# Deviseのモデルにはemailとpasswwordを最後に記載 %>
          <% if model.model_type_id == 5 %>
            | email <%= insert_space(12) %> | string <%= insert_space(3) %> | null: false, unique: true |<br>
            | encrypted_password | string <%= insert_space(3) %> | null: false <%= insert_space(13) %> |<br>
          <% end %><br>

          <%#/テーブル表記 %>

          
          ### Association<br>
          <br>

          <%# referencesの対象=belongs_toの対象のため、抽出し記載 %>
          <% model.columns.each do |column| %>
            <% if column.data_type_id == 12 %>
              - belongs_to :<%= column.name %><br>
            <% end %>
          <% end %>

          <%# hasに関する記述を作成する。 %>
          <%== readme_association(model, @models, @columns) %>

          <br>
        <% end %>
      <% end %>
    </div>
  </div>
</div> <%# /read_me %>

<%# ルーティングに関するHTML %>
<div class="rooting">
  <h2><%= @application.name %> ルーティングの編集</h2>

  <%# ターミナル操作 %>
  <div class="terminal-field">
    <div class="terminal-header">
      <div class="terminal-icons">
        <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
      </div>
      <div class="terminal-title">
        ターミナル：対象ファイルへのジャンプ
      </div>
    </div>
    <div class="terminal-contents">
      code config/routes.rb
    </div>
  </div>

  <%# コード表示 %>
  <div class="code-field">
    <div class="code-tab">
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "16x16", alt: "info_icon" %>
      routes.rb
      <%= image_tag "cross_icon.png", class: "code-icon", size: "16x16", alt: "close_icon" %>
    </div>
    <div class="code-route">
      config > 
      <%= image_tag "ruby_icon.png", class: "code-icon", size: "16x16", alt: "close_icon" %>
      config.rb
    </div>
    <div class="code-contents">
      Rails.application.routes.draw do<br>
      <%#== "#{insert_space(2)}devise_for :#{@devise.name.tableize}" if @gemfile.rails_i18n %>
      <%== "#{insert_space(2)}root to: 'tests#index'" %>
      <%== make_rooting_html(@app_controllers) %><br>
      end
    </div>
  </div>
  deviseに関するルーティングは、導入に伴い自動で作成されます。<br>
  また導入に先行して記載すると、deviseの導入に支障が出ます。
</div>

<%# 日本語化ファイルの設定 %>
<% if @gemfile.rails_i18n %>
  <div class="japanese">
    <h2><%= @application.name %> 日本語化ファイルの編集</h2>

    <p>各モデル用の日本語化ファイル</p>
    <%# ターミナル操作: 対象ファイルの作成 %>
    <div class="terminal-field">
      <div class="terminal-header">
        <div class="terminal-icons">
          <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
        </div>
        <div class="terminal-title">
          ターミナル：対象ファイルの作成
        </div>
      </div>
      <div class="terminal-contents">
        touch config/locales/ja.yml
      </div>
    </div>
    <%# ターミナル操作: 対象ファイルへのジャンプ %>
    <div class="terminal-field">
      <div class="terminal-header">
        <div class="terminal-icons">
          <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
        </div>
        <div class="terminal-title">
          ターミナル：対象ファイルへのジャンプ
        </div>
      </div>
      <div class="terminal-contents">
        code config/locales/ja.yml
      </div>
    </div>

    <%# コード表示 %>
    <div class="code-field">
      <div class="code-tab">
        <%= image_tag "yml_icon.png", class: "code-icon", size: "16x16", alt: "info_icon" %>
        ja.yml
        <%= image_tag "cross_icon.png", class: "code-icon", size: "16x16", alt: "close_icon" %>
      </div>
      <div class="code-route">
        config > locales
        <%= image_tag "yml_icon.png", class: "code-icon", size: "16x16", alt: "close_icon" %>
        ja.yml
      </div>
      <div class="code-contents">
        ja:<br>
        <%== insert_space(2) %>activerecord:<br>
        <%== insert_space(4) %>attributes:<br>

        <%# ヘルパーメソッドを使用し、各モデルごとに必要なHTMLを作成 %>
        <%== make_japanise_html(@models) %>
      </div>
    </div>

  </div>
<% end %>

<p>Basic認証とログイン機能に関する記述</p>
<%# ターミナル操作: 対象ファイルへのジャンプ %>
<div class="terminal-field">
  <div class="terminal-header">
    <div class="terminal-icons">
      <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
    </div>
    <div class="terminal-title">
      ターミナル：対象ファイルへのジャンプ
    </div>
  </div>
  <div class="terminal-contents">
    code app/controllers/application_controller.rb
  </div>
</div>
<%# コード表示 %>
<% if @gemfile.devise %>
  <div>
    本アプリケーション全体でログインしているユーザーに限定する場合、<br>
    下記のbefore_action :authenticate_user!を有効にしてください。
  </div>
<% end %>
<div class="code-field">
  <div class="code-tab">
    <%= image_tag "ruby_icon.png", class: "code-icon", size: "16x16", alt: "ruby_icon" %>
    application_controller.rb
    <%= image_tag "cross_icon.png", class: "code-icon", size: "16x16", alt: "close_icon" %>
  </div>
  <div class="code-route">
    app > controllers
    <%= image_tag "ruby_icon.png", class: "code-icon", size: "16x16", alt: "ruby_icon" %>
    application_controller.rb
  </div>
  <div class="code-contents">
    class ApplicationController < ActionController::Base<br>
    <% if @gemfile.devise %>
      <%== insert_space(2) %>before_action :configure_permitted_parameters, if: :devise_controller?<br>
      <%== insert_space(2) %># before_action :authenticate_user!<br>
    <% end %>
    <%== insert_space(2) %>before_action :basic_auth<br>
    <br>
    <%== insert_space(2) %>private<br>
    <br>
    <% if @gemfile.devise %>
      <%== make_devise_parameter(@models) %>
    <% end %>
    <%== insert_space(2) %>def basic_auth<br>
    <%== insert_space(4) %>authenticate_or_request_with_http_basic do |username, password|<br>
    <%== insert_space(6) %>username == ENV['BASIC_AUTH_USER'] && password == ENV['BASIC_AUTH_PASSWORD']<br>
    <%== insert_space(4) %>end<br>
    <%== insert_space(2) %>end<br>
    end
  </div>
</div>

<p>環境変数の設定</p>
<div>
  MacOSの場合を想定しています。<br>
  またMacOS: Mojave以前かCatalina以降かで一部処理が異なります。
</div>
<%# ターミナル操作: 対象ファイルへのジャンプ %>
<div class="terminal-field">
  <div class="terminal-header">
    <div class="terminal-icons">
      <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
    </div>
    <div class="terminal-title">
      ターミナル：環境変数を設定する（MacOS: Catalina以降）
    </div>
  </div>
  <div class="terminal-contents">
    vim ~/.zshrc<br>
    -> i キーで編集モードへ<br>
    <span class="comment-out">以下の内容を登録</span><br>
    export BASIC_AUTH_USER='<span class="changes">Basic認証のID</span>'<br>
    export BASIC_AUTH_PASSWORD='<span class="changes">Basic認証のパスワード</span>'<br>
    esc キー -> :pw で登録（:qで内容を保存せず終了する)<br>
    <span class="comment-out">下のコードで環境変数を適応</span><br>
    source ~/.zshrc
  </div>
</div>
<%# ターミナル操作: 対象ファイルへのジャンプ %>
<div class="terminal-field">
  <div class="terminal-header">
    <div class="terminal-icons">
      <span class="close">●</span><span class="minimum">●</span><span class="fullscreen">●</span>
    </div>
    <div class="terminal-title">
      ターミナル：環境変数を設定する（MacOS: Mojave以前）
    </div>
  </div>
  <div class="terminal-contents">
    vim ~/.bash_profile<br>
    -> i キーで編集モードへ<br>
    <span class="comment-out">以下の内容を登録</span><br>
    export BASIC_AUTH_USER='<span class="changes">Basic認証のID</span>'<br>
    export BASIC_AUTH_PASSWORD='<span class="changes">Basic認証のパスワード</span>'<br>
    esc キー -> :pw で登録（:qで内容を保存せず終了する)<br>
    <span class="comment-out">下のコードで環境変数を適応</span><br>
    source ~/.bash_profile
  </div>
</div>


<%= render partial: "shared/link_index" %>
