
<%# READMEのDB設計に関するコード %>

<div class="read_me">

  <h1>README</h1>
  <h2><%= @application.name  %></h2>
  <p>READMEに関するの記載内容です。</p>
  <p>念の為、ご自身でも記載内容を確認するようお願いします。</p>
  また、現在の仕様では枠がずれているように見えますが、
  ペーストすれとちょうど良い位置になるように調整されています
  <br><br>
  <%= link_to 'アプリケーション詳細ページへ戻る', application_path(@application) %><br>

  <div class="terminal-field">
    <p>ターミナル<p>
    <p>code README.md</p>
  </div>

  <p>コード内容</p>
  <div class="code-field">
    # README<br>
    <br>
    # テーブル設計<br>
    <br>

    <%# モデルごとのテーブル表記。対象は通常モデルのみ %>
    <% @models.each do |model| %>
      
      <% if [1, 5].include?(model.model_type_id) %>
        <%# 最も長いカラム名の文字数＝longestを決定する%>
        <% longest = 6 %>
        <% longest = the_longest(longest ,model) %>
        
        # <%= model.name.pluralize %>テーブル<br>
        <br>
        <%# マークダウン方式の表のタイトルと間仕切りを作成 %>
        | column<%= insert_space(longest - 6) %> | Type<%= insert_space(6) %>  | Options<%= insert_space(18) %> |<br>
        | <%= insert_bar(longest) %> | ---------- | ------------------------- |<br>

        <%# 各カラムの名前とデータ型とオプションの項目 %>
        <% model.columns.each do |column| %>

          <%# カラムがActiveHash関連ならば_idを付属するよう場合分け %>
          <% if column.data_type_id != 13 %>
            | <%= column.name %><%= insert_space(longest - column.name.length) %> 
            | <%= column.data_type.type %><%= insert_space(column.data_type.space) %>
          <% else %>
            | <%= column.name %>_id<%= insert_space(longest - column.name.length - 3) %> 
            | integer<%= insert_space(3) %>
          <% end %> |
          
          <%# カラムのデータ型により、オプションを場合分け %>
          <% if column.data_type_id == 12 %>
            foreign_key: true <%= insert_space(7) %>
          <% elsif column.must_exist && column.unique %>
            null: false, unique: true
          <% elsif column.must_exist %>
            null: false <%= insert_space(13) %>
          <% elsif column.unique %>
            unique: true <%= insert_space(12) %>
          <% else %>
            <%= insert_space(25) %>
          <% end %> |<br>
        <% end %>

        <%# Deviseのモデルにはemailとpasswwordを最後に記載 %>
        <% if model.model_type_id == 5 %>
          | email <%= insert_space(12) %> | string <%= insert_space(3) %> | null: false, unique: true |<br>
          | encrypted_password | string <%= insert_space(3) %> | null: false <%= insert_space(13) %> |<br>
        <% end %><br>

        <%#/テーブル表記 %>

        
        # Association<br>
        <br>

        <%# referencesの対象=belongs_toの対象のため、抽出し記載 %>
        <% model.columns.each do |column| %>
          <% if column.data_type_id == 12 %>
            - belongs_to :<%= column.name %><br>
          <% end %>
        <% end %>

        <%# has_many/oneの記述を行う。%>
        <%# 当モデルと同名のカラムを持つ=アソシエーションを組んでいるモデルを探し出す %>
        <%# ただし、AvtiveHashは書かないため除外する。 %>
        <% @columns.each do |column| %>
          <% if column.name == model.name  && column.data_type_id != 13 && model.not_only %>
            - has_many :<%= column.model.name %><br>
          <% elsif column.name == model.name && column.data_type_id !=13 %>
            - has_one :<%= column.model.name %><br>
          <% end %>
        <% end %>
        <br>
      <% end %>
    <% end %>
  </div>
</div> <%# /read_me %>

<div class="terminal-field">
  <p>ターミナル：対象ファイルの作成</p>
  <p>touch config/locals/ja.yml</p>
</div>
<div class="terminal-field">
  <p>ターミナル：対象ファイルへのジャンプ</p>
  <p>code config/locals/ja.yml</p>
</div>
<div class="code-field">
ja:<br>
<%== insert_space(2) %>activerecord:<br>
<%== insert_space(4) %>attributes:<br>
<%# ヘルパーメソッドを使用し、各モデルごとに必要なHTMLを作成 %>
<%== make_japanise_html(@models) %>
<br>
<br><br>
      user:
        nickname: ニックネーム
      application:
        name: アプリケーション名
        description: 概要
      # model名:
      #   カラム名: 翻訳＝表示文字列

</div>

<%= link_to 'アプリケーション詳細ページへ戻る', application_path(@application) %><br>
<%= link_to 'トップページに戻る', root_path %>

<%# README実装における現在の課題 %>
<%# 中間テーブルの表示はどのように行うか %>
<%# 中間テーブル自体は問題なく表示される。references型によるbelongs_toで %>
<%# 問題はhas_many :model名, through :中間model名 ここをどう表示するか %>
